<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="navigateToHome()" class="volver-boton">
    Volver a Inicio
  </ion-button>

  <div class="logo-container">
    <img src="assets/RegistrAPP.png" alt="RegistrAPP logo" class="logo">
  </div>
  <div class="logo-container">
    <img src="assets/duoc-logo.png" alt="Duoc UC Logo" class="logo">
  </div>
  <form>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" type="email" placeholder="Ingresa tu correo"></ion-input>
        </ion-item>


        <ion-button expand="full" (click)="sendResetEmail()" >Restablecer Contraseña</ion-button>
      </ion-card-content>
    </ion-card>
  </form>

</ion-content>

